fastapi>=0.141.1
uvicorn
sqlalchemy
pydantic
python-multipart
passlib[bcrypt]
bcrypt==4.0.1
python-jose[cryptography]
Pillow
docxtpl
docx2pdf
pywin32
openpyxl
requests
qrcode
xhtml2pdf
jinja2
pyodbc
psycopg2-binary
python-dotenv
slowapi
reportlab
pypdf
cryptography
asn1crypto
